In [160]:
import pandas as pd
import numpy as np

In [161]:
data = pd.read_csv('nyctastematch-restaurant-recommender/data/restaurants_data.csv')

In [162]:
data.head()

,Unnamed: 0,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,display_phone,CUISINE DESCRIPTION,INSPECTION DATE,...,wine_bars,womenscloth,wraps,delivery,pickup,restaurant_reservation,num_of_cat,mainstream_category,rare_category,price_value
0,0,41322152,1 2 3 BURGER SHOT BEER,Manhattan,738,10 AVENUE,10019.0,(212) 315-0123,American,2019-12-20,...,0,0,0,1,1,0,3,1,0,1
1,1,41430594,1 STOP PATTY SHOP,Manhattan,1708,AMSTERDAM AVENUE,10031.0,(212) 491-7466,Bakery,2019-03-27,...,0,0,0,0,0,0,2,1,0,1
2,2,50059935,108 FOOD DRIED HOT POT,Manhattan,2794,BROADWAY,10025.0,(917) 675-6878,Chinese,2019-05-23,...,0,0,0,1,1,0,2,1,0,2
3,3,41092609,10TH AVENUE COOKSHOP,Manhattan,156,10 AVENUE,10011.0,(212) 924-4440,American,2019-04-11,...,1,0,0,1,1,0,3,1,0,2
4,4,50057272,11 HANOVER GREEK,Manhattan,11,HANOVER SQ,10005.0,(212) 785-4000,Greek,2019-02-28,...,1,0,0,1,1,0,3,1,0,3

In [163]:
data.describe()

,Unnamed: 0,CAMIS,ZIPCODE,Latitude,Longitude,#_of_inspections,rating,review_count,latitude,longitude,...,wine_bars,womenscloth,wraps,delivery,pickup,restaurant_reservation,num_of_cat,mainstream_category,rare_category,price_value
count,3930.000000,3.930000e+03,3930.000000,3930.000000,3930.000000,3930.000000,3930.000000,3930.000000,3930.000000,3930.000000,...,3930.000000,3930.0,3930.000000,3930.000000,3930.000000,3930.000000,3930.000000,3930.000000,3930.000000,3930.000000
mean,1964.500000,4.629924e+07,10022.252672,40.751884,-73.982400,17.316285,3.827990,337.771501,40.751755,-73.982432,...,0.053944,0.0,0.001272,0.757506,0.749364,0.039186,2.131552,0.860051,0.139949,1.841221
std,1134.637607,4.400921e+06,30.545145,0.030363,0.018698,11.850192,0.509073,308.036140,0.030580,0.018761,...,0.225936,0.0,0.035651,0.428646,0.433434,0.194061,0.831884,0.346978,0.346978,0.866345
min,0.000000,4.036226e+07,10001.000000,40.701688,-74.018001,1.000000,1.000000,1.000000,40.665038,-74.018489,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,982.250000,4.139023e+07,10010.000000,40.727850,-73.995545,8.000000,3.500000,92.000000,40.727691,-73.995402,...,0.000000,0.0,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000
50%,1964.500000,5.001338e+07,10016.000000,40.747608,-73.986249,15.000000,4.000000,235.500000,40.747610,-73.986379,...,0.000000,0.0,0.000000,1.000000,1.000000,0.000000,2.000000,1.000000,0.000000,2.000000
75%,2946.750000,5.006872e+07,10026.000000,40.766964,-73.972381,24.000000,4.000000,498.750000,40.767260,-73.972323,...,0.000000,0.0,0.000000,1.000000,1.000000,0.000000,3.000000,1.000000,0.000000,2.000000
max,3929.000000,5.010578e+07,10282.000000,40.854664,-73.928324,70.000000,5.000000,1000.000000,40.854960,-73.914090,...,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,3.000000,1.000000,1.000000,4.000000

In [ ]:
# Removing unnecessary columns
columns_to_keep = [
    'name', 'price', 'rating', 'review_count', 'CUISINE DESCRIPTION',
    'categories_clean', 'neighborhood', 
    'address', 'city', 'state', 'zip_code', 'display_phone'
]
data = data[columns_to_keep]

In [ ]:
# Renaming columns
data.rename(columns={'CUISINE DESCRIPTION': 'cuisine'}, inplace=True)
data.rename(columns={'categories_clean': 'categories'}, inplace=True)

In [166]:
data.head()

,name,price,rating,review_count,cuisine,categories,neighborhood,address,city,state,zip_code,display_phone
0,123 Burger Shot Beer,$,3.0,1000,American,"['sportsbars', 'tradamerican', 'chicken_wings']",Hell\s Kitchen,738 10th Ave,New York,NY,10019,(212) 315-0123
1,One Stop Patty Shop,$,4.0,40,Bakery,"['caribbean', 'breakfast_brunch']",Harlem,1708 Amsterdam Ave,New York,NY,10031,(212) 491-7466
2,108 Food Dried Hot Pot,$$,3.5,139,Chinese,"['hotpot', 'chinese']",East Harlem,2794 Broadway,New York,NY,10025,(917) 675-6878
3,Cookshop,$$,4.0,1000,American,"['newamerican', 'breakfast_brunch', 'wine_bars']",Midtown West,156 10th Ave,New York,NY,10011,(212) 924-4440
4,11 Hanover Greek,$$$,4.0,122,Greek,"['greek', 'seafood', 'wine_bars']",Tribeca,11 Hanover Sq,New York,NY,10005,(212) 785-4000

In [ ]:
# Converting the values in the price column to numerical values
price_mapping = {
    '$': 1,
    '$$': 2,
    '$$$': 3,
    '$$$$': 4
}
data['price'] = data['price'].map(price_mapping)
data['price'] = data['price'].astype('Int64')

In [ ]:
# Using only restaurants that are in New York
data = data[(data['city'] == 'New York') & (data['state'] == 'NY')]

In [169]:
print(f"Total restaurants after filtering: {len(data)}")
print(f"\nPrice distribution:")
print(data['price'].value_counts().sort_index())

Total restaurants after filtering: 3914

Price distribution:
price
1     638
2    2343
3     446
4     138
Name: count, dtype: Int64

In [ ]:
# Dropping state and city columns since all restaurants beling to the same city and state
data = data.drop(columns = ['state','city'])

In [171]:
data.head()

,name,price,rating,review_count,cuisine,categories,neighborhood,address,zip_code,display_phone
0,123 Burger Shot Beer,1,3.0,1000,American,"['sportsbars', 'tradamerican', 'chicken_wings']",Hell\s Kitchen,738 10th Ave,10019,(212) 315-0123
1,One Stop Patty Shop,1,4.0,40,Bakery,"['caribbean', 'breakfast_brunch']",Harlem,1708 Amsterdam Ave,10031,(212) 491-7466
2,108 Food Dried Hot Pot,2,3.5,139,Chinese,"['hotpot', 'chinese']",East Harlem,2794 Broadway,10025,(917) 675-6878
3,Cookshop,2,4.0,1000,American,"['newamerican', 'breakfast_brunch', 'wine_bars']",Midtown West,156 10th Ave,10011,(212) 924-4440
4,11 Hanover Greek,3,4.0,122,Greek,"['greek', 'seafood', 'wine_bars']",Tribeca,11 Hanover Sq,10005,(212) 785-4000

In [177]:
# Checking for null values
data.isnull().sum()

name             0
price            0
rating           0
review_count     0
cuisine          0
categories       0
neighborhood     0
address          0
zip_code         0
display_phone    0
dtype: int64

In [ ]:
# Dropping the only row which has no address
data = data.dropna(subset=['address'])

In [174]:
data.head()

,name,price,rating,review_count,cuisine,categories,neighborhood,address,zip_code,display_phone
0,123 Burger Shot Beer,1,3.0,1000,American,"['sportsbars', 'tradamerican', 'chicken_wings']",Hell\s Kitchen,738 10th Ave,10019,(212) 315-0123
1,One Stop Patty Shop,1,4.0,40,Bakery,"['caribbean', 'breakfast_brunch']",Harlem,1708 Amsterdam Ave,10031,(212) 491-7466
2,108 Food Dried Hot Pot,2,3.5,139,Chinese,"['hotpot', 'chinese']",East Harlem,2794 Broadway,10025,(917) 675-6878
3,Cookshop,2,4.0,1000,American,"['newamerican', 'breakfast_brunch', 'wine_bars']",Midtown West,156 10th Ave,10011,(212) 924-4440
4,11 Hanover Greek,3,4.0,122,Greek,"['greek', 'seafood', 'wine_bars']",Tribeca,11 Hanover Sq,10005,(212) 785-4000

In [175]:
# Filling null values of the price column based on the cuisine and the neighborhood of the restaurant

data['price'] = data.groupby('neighborhood')['price'].transform(
    lambda x: x.fillna(x.mode()[0] if not x.mode().empty else np.nan)
)

data['price'] = data.groupby('cuisine')['price'].transform(
    lambda x: x.fillna(x.mode()[0] if not x.mode().empty else np.nan)
)

if data['price'].isna().sum() > 0:
    price_distribution = data['price'].value_counts(normalize=True)
    data.loc[data['price'].isna(), 'price'] = np.random.choice(
        price_distribution.index, 
        size=data['price'].isna().sum(), 
        p=price_distribution.values
    )

data['price'] = data['price'].astype(int)

In [176]:
data.head()

,name,price,rating,review_count,cuisine,categories,neighborhood,address,zip_code,display_phone
0,123 Burger Shot Beer,1,3.0,1000,American,"['sportsbars', 'tradamerican', 'chicken_wings']",Hell\s Kitchen,738 10th Ave,10019,(212) 315-0123
1,One Stop Patty Shop,1,4.0,40,Bakery,"['caribbean', 'breakfast_brunch']",Harlem,1708 Amsterdam Ave,10031,(212) 491-7466
2,108 Food Dried Hot Pot,2,3.5,139,Chinese,"['hotpot', 'chinese']",East Harlem,2794 Broadway,10025,(917) 675-6878
3,Cookshop,2,4.0,1000,American,"['newamerican', 'breakfast_brunch', 'wine_bars']",Midtown West,156 10th Ave,10011,(212) 924-4440
4,11 Hanover Greek,3,4.0,122,Greek,"['greek', 'seafood', 'wine_bars']",Tribeca,11 Hanover Sq,10005,(212) 785-4000